<div class="log-big" itemscope itemtype="http://schema.org/CreativeWork">
  <div class="log-sm-box log-big-box">
    <span>{{ .PublishDate.Format "02.01.2006" }}</span>

    <h6 class="title">
      <a href="{{ .Permalink }}" itemprop="headline">{{ .Title }}</a>
    </h6>

    {{ if .Description }}

    <p itemprop="about">{{ .Description }}</p>

    {{ end }}
  </div>
</div>
