<nav class="pagination pager">
    <ul class="pag-ul">
    {{ if .Paginator.HasPrev }}

    <li class="prev"><a href="{{ .Paginator.Prev.URL }}"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>

    {{ end }}

    <li><span class="button round small outline">Seite {{ .Paginator.PageNumber }} von {{ .Paginator.TotalPages }}</span></li>

    {{ if .Paginator.HasNext }}

    <li class="next"><a href="{{ .Paginator.Next.URL }}"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>

    {{ end }}
    </ul>
</nav>
