{{ define "title" }} {{ .Title }} {{ end }}
{{ define "header" }} {{ partial "header" . }} {{ end }}
{{ define "main" }}

<section id="hero" class="wrapper-hero wrapper-hero-about">
    <div class="container">
        <h1>{{ .Title }}</h1>
        <p>{{ .Description }}</p>
    </div>
</section>

<div class="container">
    <section class="anoxinon-search">
        <div class="anoxinon-search-box">
            <input type="text" placeholder="Suchbegriff eingeben ..." />

            <button type="submit">
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </div>

        <div class="anoxinon-search-error">
            <p>Die Suche ist momentan nicht verfügbar!</p>
        </div>

        <div class="anoxinon-search-content">
            <a class="anoxinon-search-content-box" href="https://anoxinon.de/blog/logbuch05/" target="_blank">
                <span class="url">https://anoxinon.de/blog/logbuch05/</span>
                <h2><b>Logbuch</b> <b>#05</b></h2>
                <p>Neues aus dem Vereinsleben, Server Migration, Förderation uvm.</p>
            </a>
        </div>
    </section>
</div>

{{ end }}
{{ define "footer" }}
{{ partial "footer" . }}
{{ end }}
