{{ range first 1 (where (where .Site.Pages ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}
  {{ $.Scratch.Set "has_related" true }}
{{ end }}

{{ if $.Scratch.Get "has_related" }}

  <hr class="section-hr">

  <aside id="rel-con">
    <h1>Ähnliche Beiträge</h1>
    <ul class="rel-con-ul">
      {{ $num_to_show := .Site.Params.related_content_limit | default 3 }}
      {{ range first $num_to_show (where (where .Site.Pages ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}
        <li>
          <a href="{{ .RelPermalink }}">
          <p>{{ .Title }}</p>
          <p>Lesezeit ca. {{ .ReadingTime }} Minute(n)</p>
          </a>
        </li>
      {{ end }}
    </ul>
  </aside>

{{ end }}
