* {
  box-sizing: border-box;
}

html {
  font-size: 20px;
  line-height: 30px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  color: #8A94A7;
  font-weight: 400;
  overflow: auto;
  word-break: break-word;
  hyphens: auto;
  background-color: #1D2026;
}

h1, h2, h3, h4, h5, h6, p, li, button, blockquote, main {
  font-family: 'OpenSans';
}

h1 {
  font-size: 44px;
  line-height: 54px;
  margin: 0;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 40px;
  line-height: 50px;
  margin: 0;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 36px;
  line-height: 46px;
  margin: 0;
  margin-bottom: 0.5em;
}

h4 {
  font-size: 32px;
  line-height: 42px;
  margin: 0;
  margin-bottom: 0.5em;
}

h5 {
  font-size: 28px;
  line-height: 38px;
  margin: 0;
  margin-bottom: 0.5em;
}

h6 {
  font-size: 24px;
  line-height: 34px;
  margin: 0;
  margin-bottom: 0.5em;
}

p {
  font-size: 1rem;
  margin: 0;
  margin-bottom: 1em;
}

a {
  text-decoration: none;
}

main {
  position: relative;
  z-index: 0;
}

blockquote {
  border-color: #0F9644;
  border-left-width: 5px;
  border-left-style: solid;
  padding: 0 1em;
  margin: 1em 0;
}

blockquote span {
  font-size: 16px;
  color: #8A94A7;
}

blockquote span:before {
  color: #8A94A7;
  content: "~";
  margin-right: 5px;
}

strong {
  color: #0F9644;
}

ol {
  counter-reset: item;
  padding-inline-start: 22px;
}

ol li {
  display: block;
}

ol li:before {
  content: counter(item) ". ";
  counter-increment: item;
  color: #FF9D00;
}

code {
  color: #1D2026;
  background: #EEE;
  padding: 1px 5px;
  border-radius: 2px;
  margin: 0 2px;
}

#main-content ul li {
  font-size: 16px;
  color: #EEE;
  list-style-type: none;
}

#main-content ul li:before {
  width: 1em;
  content: "\f105";
  display: inline-flex;
  font-family: 'ForkAwesome';
  margin-left: -16px;
  color: #FF9D00;
}

.content {
  padding: 0 0 2em 0;
}

/* Sonstiges */

.small-txt {
  font-size: 16px;
}

.container {
  padding-right: 25px!important;
  padding-left: 25px!important;
}

.ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.ul li:before {
  width: 1em;
  content: "\f105";
  display: inline-flex;
  font-family: 'ForkAwesome';
}

.section-hr {
  border: 1px solid rgba(138,148,167,.1);
}

#main-content {
  color: #EEE;
}

#main-content article {
  padding: 2em 0;
}

#main-content a {
  border-bottom: 1px solid #EEE;
  color: #EEE;
  padding: 2px 0;
  transition: all .3s ease;
}

#main-content a:hover {
  border-bottom: 1px solid #FF9D00;
  color: #FF9D00;
}

/* Button */

.btn {
  border: 0;
  color: #FFF;
  font-size: 16px;
  line-height: 42px;
  padding: 10px 20px;
  background: #FF9D00;
  margin-bottom: 5px;
  border-right: 2px solid #1D2026;
  border-bottom: 2px solid #1D2026;
  transition: all .3s ease;
  /* box-shadow: 5px 5px 0px 0px #FF9D00; */
}

.btn:hover {
  cursor: pointer;
  box-shadow: 5px 5px 0px 0px #0F9644;
}

.btn:after, .btn-mini:after {
  content: "\f105";
  position: relative;
  padding-left: 6px;
  font-family: 'ForkAwesome';
}

.btn-mini {
  border: 0;
  color: #0F9644;
  font-size: 1em;
  cursor: pointer;
  padding: 2px 0;
  background: transparent;
  border-bottom: 1px solid transparent;
  transition: all .3s ease;
}

.btn-mini:hover {
  border-bottom: 1px solid #0F9644;
}

.btn-copy {
  font-size: 16px;
  background: transparent;
  border: 0;
  color: #EEE;
  cursor: pointer;
  transition: all .3s ease;
}

.btn-copy:hover {
  color: #FF9D00;
}

/* Header */

header {
  padding: 1em 0;
  display: flex;
}

#header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 760px;
  background: #242830;
  background: linear-gradient(80deg, rgba(36,40,48,0.5) 0%, rgba(36,40,48,0) 100%);
  -webkit-transform-origin: 0;
  transform-origin: 0;
  -webkit-transform: skewY(-12deg);
  transform: skewY(-12deg);
}

/* Nav */

.nav-left {
  float: left;
}

.nav-left img {
  width: 75px;
  vertical-align: middle;
}

.nav-right {
  float: right;
}

.navbar {
  font-size: 16px;
  padding-bottom: 10px;
}

.navbar img {
  height: 75px;
}

.main-nav {
  list-style-type: none;
  display: none;
  padding: 0;
  margin: 0;
}

.nav-links,
.logo {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

.main-nav li {
  text-align: center;
  margin: 10px auto;
}

.main-nav li a {
  color: #EEE;
  font-size: 20px;
}

.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}

.navbar-toggle {
  position: relative;
  float: right;
  padding: 11px 0;
  cursor: pointer;
  color: #FF9D00;
  font-size: 28px;
}

#navigation-dropdown-visibility-checkbox-internal, .accordion-radio {
  display: none;
}

.accordion-radio:checked + .faq-box-content > .panel {
  max-height: none;
}

.dropdown {
  float: left;
  overflow: hidden;
  list-style: none;
  padding: 0;
  margin: 0;
  transition: all .3s ease;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
}

.dropbtn {
  margin-left: 8px;
}

.dropbtn:after {
  content: "\f107";
  font-family: 'ForkAwesome';
  margin-left: 6px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #242830;
  min-width: 100px;
  z-index: 1;
  margin-left: 8px;
  transition: all .3s ease;
}

.dropdown-content li {
  margin: 8px;
}

.dropdown-content li a {
  float: none;
  padding: 0 6px!important;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Footer */

footer {
  background: linear-gradient(0deg, #1D2026, rgba(36,40,48,0.5));
}

.footer-first {
  padding-top: 3em;
  font-size: 16px;
}

.footer-first-box {
  padding-bottom: 1em;
}

.footer-first h6 {
  color: #EEE;
}

.footer-first a {
  color: #8A94A7;
}

.uf-ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.uf-ul li {
  line-height: 34px;
}

.uf-ul a {
  border-bottom: 1px solid transparent;
  padding: 2px 0;
  color: #8A94A7;
  transition: all .3s ease;
}

.uf-ul a:hover {
  border-bottom: 1px solid #8A94A7; }

.uf-ul li:before {
  width: 1em;
  content: "\f105";
  display: inline-flex;
  font-family: 'ForkAwesome';
}

.footer-last {
  font-size: 14px;
  padding: 2em 0;
}

.footer-logo {
  text-align: left;
}

.footer-logo img {
  width: 40px;
}

.footer-copyright {
  text-align: left;
}

.footer-copyright p {
  font-size: 14px;
}

.footer-copyright a {
  padding: 2px 0;
  color: #8A94A7;
  border-bottom: 1px solid transparent;
  transition: all .3s ease;
}

.footer-copyright a:hover {
  border-bottom: 1px solid #8A94A7;
}

.footer-imprint {
  text-align: right;
}

.footer-imprint a {
  color: #8A94A7;
}

.uf-social {
  margin: 0;
  padding: 0;
  font-size: 40px;
  display: inline-flex;
  list-style-type: none;
}

.uf-social li:not(:first-child) {
  padding-left: 16px;
}

.uf-social a {
  transition: all .3s ease;
}

.uf-social a:hover {
  color: #EEE;
}

.uf-social-codeberg svg {
  height: 40px;
  width: 50px;
}

svg #path2, svg #path4, svg #path6, svg #path18, svg #path20, svg #path22, svg #path24, svg #path26, svg #path28, svg #path30, svg #path32, svg #text8 {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

svg:hover #path2, svg:hover #path4, svg:hover #path6 {
  stroke: #EEE!important;
}

svg:hover #path18, svg:hover #path20, svg:hover #path22, svg:hover #path24, svg:hover #path26, svg:hover #path28, svg:hover #path30, svg:hover #path32 {
  fill: #EEE!important;
}

.uf-rights {
  margin: 0;
  padding: 0;
  display: inline-flex;
  list-style-type: none;
}

.uf-rights a {
  border-bottom: 1px solid transparent;
  padding: 2px 0;
  color: #8A94A7;
  transition: all .3s ease;
}

.uf-rights a:hover {
  border-bottom: 1px solid #8A94A7;
}

.uf-rights li:not(:first-child) {
  padding-left: 16px;
}

/* 404 */

.error-page {
  height: 70vh;
  display: flex;
  align-items: center;
}

.error-page h1 {
  color: #FFF;
}

.error-page-box {
  display: flex;
}

.error-page-logo {
  padding: 2em 0;
  margin: 0 0 0 auto;
  text-align: right;
  position: relative;
}

.error-page-logo img {
  width: 200px;
}

.error-page-content {
  padding: 2em 0 2em 2em;
}

/* Hero - Home */

.hero {
  padding: 4em 0 6em 0;
}

.hero h1 {
  margin: 0;
  margin-bottom: 0.5em;
  color: #EEE;
  line-height: 54px;
}

.hero p {
  margin: 0;
  margin-bottom: 1.5em;
}

.hero img {
  width: 360px;
  object-fit: contain;
  height: 360px;
  margin-right: -50px;
}

.hero-logo {
  margin: 0 0 0 auto;
  text-align: right;
  position: relative;
}

/* Dienste - Home */

.dienste {
  padding: 0 0 2em 0;
  text-align: center;
}

.dienste-box {
  text-align: center;
  margin-bottom: 2em;
}

.dienste-box h5 {
  color: #EEE;
}

.dienste-box h5 a:after {
  content: "\f08e";
  font-family: 'ForkAwesome';
  font-size: 16px;
  vertical-align: middle;
  margin-left: 8px;
}

.dienste-box h5 a {
  color: #EEE;
  transition: all .3s ease;
}

.dienste-box h5 a:hover {
  color: orange;
}

.dienste-icon span {
  color: #FF9D00;
  width: 2em;
  height: 2em;
  display: inline-grid;
  font-size: 2em;
  text-align: center;
  position: relative;
  align-items: center;
  border-radius: 100px;
  margin-bottom: 0.5em;
  border: 2px solid #FF9D00;
}

.dienste-social:before {
  content: "\f2e1";
  font-family: 'ForkAwesome';
}

.dienste-media:before {
  content: "\f019";
  font-family: 'ForkAwesome';
}

.dienste-messenger:before {
  content: "\f2f9";
  font-family: 'ForkAwesome';
}

.dienste-share:before {
  content: "\f1e0";
  font-family: 'ForkAwesome';
}

.dienste-mumble:before {
  content: "\f130";
  font-family: 'ForkAwesome';
}

.dienste-cryptpad:before {
  content: "\f125";
  font-family: 'ForkAwesome';
}

.dienste-peertube:before {
  content: "\f2e4";
  font-family: 'ForkAwesome';
}

/* Dienste Einzelseite */

.dienste-content {
  padding: 0 0 2em 0;
}

.dienste-content, .dienste-content p {
  color: #EEE;
  font-size: 16px;
}

.dienste-content b {
  color: #0F9644;
}

/* About - Home */

.log-small {
  padding: 2em 0;
}

.log-sm-title {
  text-align: center;
  margin-bottom: 3em;
}

.log-sm-title h4 {
  color: #EEE;
}

.log-sm-title p {
  color: #0F9644;
}

.log-sm-title img {
  float: left;
  height: 88px;
  margin-right: 1em;
}

.log-sm-box {
  background: #242830;
  padding: 2em;
  margin-bottom: 1em;
}

.log-sm-time {
  display: inline-flex;
  width: 70%;
}

.log-sm-time h6 {
  color: #EEE;
}

.log-sm-date {
  color: #EEE;
  right: 15px;
  padding: 0px 8px;
  font-size: 14px;
  position: absolute;
  background: #FF9D00;
}

.mitglied-small {
  padding: 2em 0;
}

.mitglied-small h6 {
  color: #EEE;
}

.mitglied-small-button {
  text-align: right;
  margin-top: 50px;
}

/* Wrapper - Hero */

#hero {
  color: #EEE;
  text-align: center;
  padding: 2em 0;
}

#hero p {
  color: #0F9644;
}

#hero h1 {
  word-wrap: break-word;
}

/* About Page */

.uu-zweck-box p {
  color: #8A94A7;
}

.uu-zweck-icon span {
  color: #FF9D00;
  width: 2em;
  height: 2em;
  display: inline-grid;
  font-size: 2em;
  text-align: left;
  position: relative;
  align-items: center;
}

.uu-zweck-i-links:before {
  content: "\f05a";
  font-family: 'ForkAwesome';
}

.uu-zweck-i-mitte:before {
  content: "\f07c";
  font-family: 'ForkAwesome';
}

.uu-zweck-i-rechts:before {
  content: "\f233";
  font-family: 'ForkAwesome';
}

.uu-zweck-box-u p {
  text-align: center;
  color: #8A94A7;
}

.uu-text-box-open {
  text-align: center;
}

.uu-text-box-open p {
  margin: 0;
}

.uu-text-box p {
  color: #8A94A7;
}

.uu-text-box-open {
  text-align: center;
}

.uu-text-box p {
	color: #8A94A7;
}

.uu-vorstand-b-header {
  text-align: center;
}

.uu-vorstand-b-content span {
  color: #FFF;
  background: #FF9D00;
  padding: 4px 10px;
  font-size: 14px;
  border-radius: 4px;
}

.uu-vorstand-ul {
  padding-inline-start: 17px;
  padding-inline-end: 17px;
}

.uu-vorstand-ul li {
  color: #8A94A7!important;
  font-size: 16px;
  margin-bottom: 0.5em;
}

/* Logbuch */

#posts {
  padding-inline-start: 0px;
}

.log-big {
  width: 70%;
  margin: 0 auto;
}

.log-big-box p {
  margin: 0;
  font-size: 15px;
  color: #8A94A7;
}

.log-big-box span {
  color: #EEE;
  padding: 0px 8px;
  font-size: 14px;
  float: right;
  background: #FF9D00;
}

.pag-ul {
  text-align: center;
  padding-inline-start: 0px;
}

.pag-ul li {
  display: inline-block;
}

.pag-ul li:before {
  display: none!important;
}

.pag-ul a {
  width: 23px;
  height: 23px;
  display: grid;
  border: 1px solid #FF9D00!important;
  border-radius: 23px;
  margin: 0 5px;
}

/* Logbuch Beitragsseite */

.post-time {
  font-size: 16px;
  color: #8A94A7;
}

.post-time .icon {
  margin-right: 3px;
}

#post-box {
  padding: 0 0 2em 0;
  font-size: 16px;
}

#post p {
  font-size: 16px;
  color: #EEE;
}

#post hr {
  border: 1px solid rgba(138,148,167,.1);
}

#post a {
  padding: 2px 0;
  color: #EEE;
  border-bottom: 1px solid #EEE;
  transition: all .3s ease;
}

#post a:hover {
  color: #FF9D00;
  border-bottom: 1px solid #FF9D00;
}

#post strong {
  color: #0F9644;
}

#post ol li {
  color: #EEE;
}

#post ul {
  padding-inline-start: 40px;
  list-style: none;
}

#post ul li {
  color: #EEE;
}

#post ul li:before {
  width: 1em;
  content: "\f105";
  display: inline-flex;
  color: #FF9D00;
  font-family: 'ForkAwesome';
  margin-left: -16px;
}

#post h1,
#post h2,
#post h3,
#post h4,
#post h5,
#post h6 {
  color: #0F9644;
}

#post img {
  display: block;
  max-width: 100%;
  margin: 2rem auto;
}

.post-meta a {
  color: #8A94A7;
  transition: all .3s ease;
  word-wrap: break-word;
}

#post-meta-header {
  margin: 2em 0;
}

.post-meta-tags a:not(:last-child) {
  margin-right: 5px;
  text-transform: lowercase;
}

.post-meta-tags a:before {
  content: "#";
}

.post-meta-tags a:hover {
  color: #FF9D00;
}

.post-meta-category {
  text-transform: capitalize;
  float: right;
}

.post-meta-category a:not(:first-child) {
  margin-left: 10px;
}

.post-meta-category a:before {
  margin-right: 5px;
  content: "\f097";
  font-family: 'ForkAwesome';
}

.post-meta-category a:hover {
  color: #0F9644;
}

#rel-con {
  text-align: center;
  margin-bottom: 2em;
}

#rel-con h1 {
  font-size: 1rem;
  margin-bottom: 0.5em;
  color: #EEE;
  font-weight: 400;
}

.rel-con-ul {
  padding: 0;
  margin: 0;
  display: inline-flex;
  list-style: none;
  width: 100%;
}

.rel-con-ul p {
  font-size: 16px;
  margin: 0;
}

.rel-con-ul li {
  background: #242830;
  text-align: center;
  width: 33.33%;
  padding: 20px;
  box-shadow: 5px 5px 0px 0px #FF9D00;
  transition: all .3s ease;
}

.rel-con-ul li:not(:last-child) {
  margin-right: 20px;
}

.rel-con-ul li:hover {
  cursor: pointer;
  box-shadow: 5px 5px 0px 0px #0F9644;
}

/* Mitmachen */

.mitmachen {
  padding: 0 0 2em 0;
  text-align: left;
}

.mitmachen h5 {
  color: #EEE;
}

.mitmachen-info {
  padding: 20px;
  text-align: center;
  background: #242830;
  margin-bottom: 60px;
}

.mitmachen-info h6 {
  color: #EEE;
}

.mitmachen-info p {
  margin: 0;
}

.mitmachen-info a {
  padding: 2px 0;
  color: #EEE;
  border-bottom: 1px solid transparent;
  transition: all .3s ease;
}

.mitmachen-info a:hover {
  color: #FF9D00;
  border-bottom: 1px solid #FF9D00;
}

.mitmachen-info a {
  padding: 2px 0;
  color: #EEE;
  border-bottom: 1px solid transparent;
  transition: all .3s ease;
}

.mitmachen-info a:hover {
  color: #FF9D00;
  border-bottom: 1px solid #FF9D00;
}

.mitmachen-box {
  text-align: left;
  margin-bottom: 2em;
}

.mitmachen-box h6 {
  color: #EEE;
}

.mitmachen-box {
  padding: 20px;
  background: #242830;
}

.mitmachen-box button {
  display: inline-block;
}

/* FAQ */

#faq {
  padding: 0 0 2em 0;
}

#faq h6 {
  font-weight: 400;
  font-size: 20px;
  color: #0F9644;
  padding-top: 1em;
}

.faq-menu {
  padding: 1em 20px 0 0;
  position: sticky;
  top: 0;
}

.faq-menu button {
  margin-bottom: 2em;
  width: 100%;
}

.accordion {
  background-color: #242830;
  color: #EEE;
  cursor: pointer;
  padding: 12px 16px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
  display: block;
}

.accordion p {
  margin: 0!important;
  padding: 0!important;
  width: 97%;
  font-size: 16px;
  display: inline-block;
}

.accordion:after {
  content: '\f107';
  font-family: 'ForkAwesome';
  color: #8A94A7;
  float: right;
  margin-left: 5px;
  font-size: 20px;
}

.active:after {
  content: '\f106';
  font-family: 'ForkAwesome';
}

.panel {
  padding: 0 16px;
  background-color: #242830;
  max-height: 0;
  overflow: hidden;
  transition: all .3s ease;
  margin-bottom: 1em;
}

.panel p {
  font-size: 16px;
}

.panel a {
  padding: 2px 0;
  color: #EEE;
  border-bottom: 1px solid #EEE;
  transition: all .3s ease;
}

.panel a:hover {
  color: #FF9D00;
  border-bottom: 1px solid #FF9D00;
}

/* Kontakt */

.kontakt {
  padding: 0 0 2em 0;
}

.kontakt-box {
  padding: 20px;
  background: #242830;
  margin-bottom: 2em;
}

.kontakt-box p {
  font-size: 16px;
  color: #8A94A7;
}

.kontakt-box-icon-email {
  font-size: 19px;
  vertical-align: middle;
}

.kontakt-box-icon-mastodon {
  font-size: 22px;
  vertical-align: sub;
}

.kontakt-box-icon-xmpp {
  font-size: 22px;
  vertical-align: sub;
}

/* Datenschutz */

.datenschutz {
  padding: 0 0 2em 0;
}

.datenschutz p {
  color: #8A94A7;
  font-size: 16px;
}

.datenschutz ul li {
  color: #8A94A7!important;
  font-size: 16px;
}

.datenschutz-box {
  padding: 20px;
  text-align: center;
  background: #242830;
  margin-bottom: 2em;
}

.datenschutz-box h5 {
  color: #EEE;
}

/* Impressum */

.impressum {
  padding: 0 0 2em 0;
}

.impressum p {
  color: #8A94A7;
  font-size: 16px;
}

.impressum ul {
  color: #8A94A7;
  font-size: 16px;
}

/* Partner */

.partner {
  text-align: center;
  padding: 0 0 2em 0;
}

.partner img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  margin-bottom: 1em;
}

.partner-box {
  text-align: left;
  padding: 20px 0;
  margin-bottom: 2em;
}

.partner-box h5 {
  color: #FFF;
}

.partner-box p {
  color: #8A94A7;
  font-size: 16px;
}

.partner span {
  color: #FFF;
  background: #FF9D00;
  padding: 0px 8px;
  font-size: 14px;
  float: right;
  margin-top: 0.25em;
}

/* Unterstützung */

.unterstuetzung {
  padding: 0 0 2em 0;
}

.unterstuetzung p {
  color: #8A94A7;
  font-size: 16px;
}

.unterstuetzung ul {
  color: #8A94A7;
  font-size: 16px;
}

.unterstuetzung-box {
  padding: 20px;
  background: #242830;
  margin-bottom: 2em;
}

/* Mobile Ansicht */

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

@media screen and (max-width: 450px) {
  .hero {
    padding: 2em 0 4em 0!important;
  }

  .hero-logo {
    display: none;
  }

  .hero img {
    width: 300px!important;
    margin: 0!important;
  }

  .error-page {
    padding: 0 0 2em 0;
  }

  .error-page img {
    width: 150px;
  }

  .error-page-logo {
    text-align: center;
  }

  .error-page-content {
    text-align: center;
    padding: 0!important;
  }

  .error-page-box {
    display: block;
  }

  .mitglied-small {
    text-align: center!important;
  }

  .mitglied-small-button {
    text-align: center!important;
  }

  .footer-copyright, .footer-imprint, .footer-logo {
    text-align: center!important;
  }

  .footer-copyright p {
    margin: 0!important;
  }

  .footer-copyright img {
    width: 100px!important;
  }

  .uu-zweck-icon {
    text-align: center;
  }

  .uu-zweck-icon span {
    font-size: 3em;
    text-align: center;
  }

  .log-big {
    width: 100%;
  }

  .log-big-box span {
    right: 25px;
  }

  .post-meta-category {
    float: none;
  }

  .rel-con-ul {
    display: block;
  }

  .rel-con-ul li {
    margin-bottom: 2em;
    width: 100%;
  }

  .faq-menu {
    padding-right: 0px;
  }

  .accordion p {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .dropdown {
    float: none;
    text-align: center;
  }

  .dropdown-content {
    position: relative;
    box-shadow: none;
    border: 0;
    background: none;
    margin: 0;
    padding: 5px 0;
  }

  .dropdown-content li a {
    text-align: center;
  }

  .dropdown-content li a:hover {
    color: #FF9D00!important;
  }

  .dropdown .dropbtn {
    display: block;
    width: 100%;
  }

  .hero img {
    margin: 0!important;
  }

  .rel-con-ul {
    display: block;
  }

  .rel-con-ul li {
    width: 100%;
    margin-bottom: 2em;
  }

  .mitglied-small-button {
    margin: 20px 0;
  }
}

@media screen and (min-width: 1000px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 75px;
    align-items: center;
  }

  .navbar img {
    height: 75px;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    margin: auto 0;
  }

  .main-nav li:not(:first-child) {
    margin-left: 12px;
  }

  .main-nav li:not(:last-child) {
    margin-right: 12px;
  }

  .main-nav li a {
    color: #EEE;
    font-size: 16px;
    padding: 2px 0;
    transition: all .3s ease;
  }

  .main-nav li a:hover {
    color: #FF9D00;
  }

  .nav-links {
    margin-left: 40px;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }

  .logo:hover,
  .nav-links:hover {
    color: rgba(255, 255, 255, 1);
  }
}

@media not screen and (min-width: 1000px) {
  #navigation-dropdown-visibility-checkbox-internal:checked + .main-nav {
    display: grid;
  }
}

.rel-me-links {
  display: none;
}

.xmpp-signup-form {
  height: 500px;
  width: 100%;
  background-color: white;
}

/* search */

.anoxinon-search {
  margin: 0 0 5em 0;
}

.anoxinon-search-box {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.anoxinon-search-box input {
  width: 100%;
  outline: none;
  padding: 0.75rem 1rem;
  font-size: 1.5rem;
  color: black;
  border: 0px;
  color: #FFF;
  background: #242830;
  transition: all .3s ease;
}

.anoxinon-search-box input::placeholder {
  color: #8A94A7;
}

.anoxinon-search-box input::-webkit-calendar-picker-indicator {
  width: 1em;
  content: "\f105";
  display: inline-flex;
  font-family: 'ForkAwesome';
  font-size: 0.9rem;
  width: 0.75rem;
}

.anoxinon-search-box button {
  color: black;
  padding: 0.75rem;
  font-size: 1.25rem;
  cursor: pointer;
  border: 0px;
  color: rgba(255, 255, 255, .5);
  background: #242830;
  transition: all .2s ease;
}

.anoxinon-search-box button:hover {
  color: #FFF;
}

.anoxinon-search-content {
  margin-bottom: 2em;
}

.anoxinon-search-content-box {
  display: block;
  padding: 2em;
  color: #8A94A7;
  margin-bottom: 2em;
  background: #242830;
  box-shadow: 5px 5px 0px 0px #ff9d00;
  transition: all .3s ease;
}

.anoxinon-search-content-box:hover {
  cursor: pointer;
  box-shadow: 5px 5px 0px 0px #0f9644;
}

.anoxinon-search-content-box span {
  font-size: 0.75rem;
}

.anoxinon-search-content-box h2 {
  margin: 0.375rem 0 1rem 0;
}

.anoxinon-search-content-box p {
  margin: 0;
  font-size: 0.9rem;
}

.anoxinon-search-error {
  padding: 0.6rem 1.2rem;
  background: #242830;
  margin-bottom: 2em;
}

.anoxinon-search-error p {
  margin: 0;
  color: #8A94A7;
  text-align: center;
}
