{{ define "title" }} {{ .Site.Title }} {{ end }}
{{ define "header" }} {{ partial "header" . }} {{ end }}
{{ define "main" }}

	<section class="hero">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h1>Anoxinon e.V. - für ein gemeinschaftliches Internet</h1>
					<p>Wir fördern Datenschutz und freie Software durch bereitstellen von Informationen und alternativen Internetdiensten - und setzen uns damit für eine gemeinschaftliche digitale Welt ein.</p>
					<a class="btn" href="/ueber-uns">Erfahre mehr</a>
				</div>

				<div class="col-md-6">
					<div class="hero-logo">
						<img src="/img/anxi_hero.png">
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="dienste">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-12 dienste-box">
					<div class="dienste-icon">
						<span class="dienste-social"></span>
					</div>
					<h5>Anoxinon Social</h5>
					<p class="small-txt">Ein gemeinschaftliches soziales Netzwerk für den Austausch mit mehr als 4,4 Millionen Menschen. Fotos, Videos, Links und Texte mit bis zu 500 Zeichen im Microblogging Format à la Twitter - nur unabhängig von einer Anbieterin oder einem Anbieter.</p>
					<a class="btn-mini" href="/dienste/anoxinonsocial">Anoxinon Social</a>
				</div>

				<div class="col-lg-4 col-md-12 dienste-box">
					<div class="dienste-icon">
						<span class="dienste-media"></span>
					</div>
					<h5>Anoxinon Media</h5>
					<p class="small-txt">Inhalte und Informationen über Datensicherheit, Verschlüsselung, Datenschutz, Zensur, freie Software und Begleitthemen in Form eines Blogs.</p>
					<a class="btn-mini" href="/dienste/anoxinonmedia">Anoxinon Media</a>
				</div>

				<div class="col-lg-4 col-md-12 dienste-box">
					<div class="dienste-icon">
						<span class="dienste-messenger"></span>
					</div>
					<h5>Anoxinon Messenger</h5>
					<p class="small-txt">Unabhängiges und datenschutzfreundliches chatten über den universalen Messaging-Standard Jabber/XMPP.</p>
					<a class="btn-mini" href="/dienste/anoxinonmessenger">Anoxinon Messenger</a>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="container">
			<hr class="section-hr">
		</div>
	</section>

	<section class="log-small">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="log-sm-title">
						<h4>Logbuch</h4>
						<p>Aktuelle Neuigkeiten über Anoxinon e.V.</p>
					</div>
				</div>

				{{ range first 2 (where .Site.RegularPages "Type" "blog") }}
					<div class="col-md-6">
						<div class="log-sm-box">
							<div class="log-sm-time">
								<h6>{{ .Title }}</h6>
								<span class="log-sm-date">{{ .Date.Format "02. January 2006" }}</span>
							</div>
							<p class="small-txt">{{ .Summary | truncate 150 }}</p>
							<a class="btn-mini" href="{{ .Permalink }}">Weiterlesen</a>
						</div>
					</div>
				{{ end }}
			</div>
		</div>
	</section>

	<section>
		<div class="container">
			<hr class="section-hr">
		</div>
	</section>

	<section class="mitglied-small">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 col-md-12">
					<h6>Du möchtest uns unterstützen?</h6>
					<p class="small-txt">Es gibt viele Möglichkeiten den Verein und dessen Anliegen zu unterstützen: Sei es durch Verbreiten und Weitersagen der Inhalte und Angebote, durch Spenden, als ehrenamtliche:r Helfer:in, als Fördermitglied oder als (ehrenamtliches) Mitglied. Es gibt immer etwas zu tun!</p>
				</div>

				<div class="col-lg-3 col-md-12">
					<div class="mitglied-small-button">
						<a class="btn" href="/unterstuetzung/">Mitglied werden</a>
					</div>
				</div>
			</div>
		</div>
	</section>

{{ end }}
{{ define "footer" }}
{{ partial "footer" . }}
{{ end }}
